client/node_modules
server/node_modules

.env
client/.env
server/.env

*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/*
!client/.vscode/settings.json  

client/dist
server/build

server/uploads/
!server/uploads/.gitkeep 